/src/pray_history/
/src/requestUrl.txt
/dist/
/build/
/old_src/
/test/
/src/test_delete/
/src/cache/
/src/cache/announce.json
/_devTools/
/src/_devTools/
/src/_expLab/test.py
/src/sangonomiya.build/
/src/sangonomiya.dist/
/src/sangonomiya.onefile-build/
/src/sangonomiya.cmd
/src/sangonomiya.exe
/src/_expLab/
