/old_src/pray_history/
/old_src/requestUrl.txt
/dist/
/build/
/test/
/package.ifp
/Pipfile
/Pipfile.lock
/old_src/test_delete/
/old_src/cache/
/old_src/cache/announce.json
/old_src/test.py
/upx-3.96-win64/
